.button{
    -fx-text-fill: green;
    -fx-background-color: orange;
    -fx-font-size: 20;
    /*-fx-display-caret: ;*/
}
.button:hover{
    -fx-text-fill: white;
    -fx-background-color: black;
}
.root{
    -fx-background-color: gray;
    -fx-border-color: white;
}
.text-area{
    -fx-control-inner-background: #000000;
}